doctype html
html
	head
		title Personal Profile Website
		link(rel='stylesheet', href='/stylesheets/animate.css/animate.css')
		link(rel='stylesheet', href='/stylesheets/qunit/qunit.css')
		link(rel='stylesheet', href='/stylesheets/semantic-ui/semantic.css')

		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content